<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLyDoDung.NoActionBar" >

        <!-- CategoryGridActivity as Main Launcher -->
        <activity
            android:name=".CategoryGridActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- ProductListActivity -->
        <activity
            android:name=".ProductListActivity"
            android:parentActivityName=".CategoryGridActivity"
            android:exported="false" />

        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Other Activities -->
        <activity
            android:name=".AddDoDungActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateDoDungActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".LoaiDoDungActivity"
            android:exported="false" />
        <activity
            android:name=".AddCategoryActivity"
            android:exported="false" />
    </application>
</manifest>
